.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--color-bg-dark);
}


.content {
  display: flex;
  flex: 1;
  min-height: 0;
}

.leftPanel {
  flex: 0 0 40%;
  overflow-y: auto;
  background: var(--color-bg-dark);
  scrollbar-width: none;
}

.leftPanel::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.rightPanel {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  gap: 0;
  min-height: 0;
}

.storyRightLayout {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.storyRightTopRow {
  display: flex;
  flex: 1;
  min-height: 0;
}

.storyRightTopRow .storyRightBox {
  flex: 1;
  border: none;
}

.storyRightBox {
  flex: 1;
  min-height: 0;
  border: none;
  box-sizing: border-box;
}

.storyRightTopRow .storyRightBox:last-child {
  border-left: 1px solid var(--color-border);
}

.storyRightLayout > .storyRightBox {
  border-top: 1px solid var(--color-border);
}
